DOMAIN=https://secret.krahsu.top
SIGNUPS_ALLOWED=false
SIGNUPS_VERIFY=false
INVITATIONS_ALLOWED=false
ORG_CREATION_USERS=none
SHOW_PASSWORD_HINT=false
DISABLE_ICON_DOWNLOAD=true
LOG_FILE=/data/vaultwarden.log
LOG_LEVEL=warn
TZ=Asia/Shanghai
